<footer class="site-footer">

    <div class="wrapper">

        <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
            </div>

            <div class="footer-col footer-col-2" style="text-align:center">
                <p>
                    <span>{{ site.title | escape }}</span>
                    &diams;
                    <span>{{ site.by | escape }}</span>
                </p>
            </div>

            <div class="footer-col footer-col-3">
                    <span class="pos-rel" style="bottom:13px;">
                        Proud supporter of:
                        <a href="https://donate.wikimedia.org" target="_blank">
                            <img class="wiki-logo" src="/assets/img/donatewiki.png" alt="WikiMedia Foundation logo">
                        </a>
                    </span>
            </div>
        </div>

    </div>
</footer>